.clientDiv {
    border: 2px solid gray;
    background-color: antiquewhite;
    border-radius: 5px;
    min-height: 10em;
    min-width: 27em;
    padding: 1em;
    margin-top: 1em;
}
.clientPropsList {
    text-align: left;
}
.clientPropsListItem {
    text-align: left;
}
.tableWithFoodDiv {
    border: dotted 2px black;
    margin: 5px;
    padding: 5px;
    background-color: darkgray;
}